<%- include('../includesEjs/head.ejs')%>
    <link rel="stylesheet" href="/shop.css">
    </head>

    <body>
        <%- include('../includesEjs/navigation.ejs') %>
            <main>
                <h1>(:All Products :)</h1>
                <% if(hasProducts){ %>
                    <div class="grid">
                        <% for(prod in products) {%>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%=products[prod].title%>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src='<%=products[prod].imageUrl%>' alt='<%=products[prod].title%>'>
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">$<%=products[prod].price%>
                                    </h2>
                                    <p class="product__description">
                                        <%=products[prod].desc%>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <a href="/views/admin/edit-product.ejs" class="btn">Edit</a>
                                    <form action="/views/admin/delete-product" method="post">
                                        <button class="btn" type="submit">Delete</button>
                                    </form>

                                </div>
                            </article>
                            <%}%>
                    </div>
                    <%} else{%>

                        <h1>No Products Exist here...</h1>

                        <%}%>

            </main>
            <%- include('../includesEjs/end.ejs') %>