<%- include('../includesEjs/head.ejs') %>
    </head>

    <body>
        <%- include('../includesEjs/navigation.ejs') %>
            <main>
                <% if (cartProducts.length> 0) { %>
                    <ul>
                        <% cartProducts.forEach(product=> { %>
                            <li>
                                <p>
                                    <%= product.productData.title %> (<%= product.qty %>)
                                </p>
                                <form action="/cart-delete" method="post">
                                    <input type="hidden" name="productId" value="<%= product.productData.id %>">
                                    <button class="btn" type="submit">Delete</button>
                                </form>
                            </li>

                            <% }) %>
                    </ul>
                    <% } else { %>
                        <h1>No Products found..!!</h1>

                        <% } %>
            </main>
            <%- include('../includesEjs/end.ejs') %>