<%- include('../includesEjs/head.ejs') %>
    </head>

    <body>
        <%- include('../includesEjs/navigation.ejs') %>
            <main>
                <% if (cartProducts.length> 0) { %>
                    <ul class="cart__item-list">
                        <% cartProducts.forEach(product=> { %>
                            <li class="cart__item">
                                <h1>
                                    <%= product.title %>
                                </h1>
                                <h2>Quantity: <%= product.cartItem.quantity %>
                                </h2>
                                <form action="/cart-delete" method="post">
                                    <input type="hidden" name="productId" value="<%= product.id %>">
                                    <button class="btn" type="submit">Delete</button>
                                </form>
                            </li>

                            <% }) %>
                    </ul>
                    <% } else { %>
                        <h1>No Products found..!!</h1>

                        <% } %>
            </main>
            <%- include('../includesEjs/end.ejs') %>