<%- include('../includesEjs/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includesEjs/navigation.ejs') %>

            <main>
                <% if (hasProducts) { %>
                    <div class="grid">
                        <% for (prod in products) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= products[prod].title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= products[prod].imageUrl %>" alt="<%= products[prod].title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">$<%= products[prod].price %>
                                    </h2>
                                    <p class="product__description">
                                        <%= products[prod].desc %>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <button class="btn">Add to Cart</button>
                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('../includesEjs/end.ejs') %>