<%- include('../includesEjs/head.ejs') %>
    </head>

    <body>
        <%- include('../includesEjs/navigation.ejs') %>
            <main>
                <% if(orders.length <=0){%>
                    <h1>Nothing there!</h1>
                    <% } else { %>
                        <ul>
                            <% orders.forEach((order)=> {%>
                                <li>
                                    <h1># <%= order.id %>
                                    </h1>
                                    <ul>
                                        <% orders.orderItem.forEach((item)=> { %>
                                            <li>
                                                <%= item.title %> (<%= item.quantity %>)
                                            </li>

                                            <% }) %>
                                    </ul>
                                </li>

                                <% }) %>
                        </ul>



                        <% } %>
            </main>
            <%- include('../includesEjs/end.ejs') %>