<%- include('../includesEjs/head.ejs') %>
    </head>

    <body>
        <%- include('../includesEjs/navigation.ejs') %>
            <main class="centered">
                <h1>
                    <%=rows[0].title%>
                </h1>
                <hr>
                <div> <img src="<%=rows[0].imageUrl%>" alt=" <%=rows[0].title%>" height="200" width="250"></div>
                <h2>
                    $<%=rows[0].price%>
                </h2>
                <p>
                    <%=rows[0].desc%>
                </p>
                <form action="/cart" method="post">
                    <button class="btn" type="submit">Add To Cart</button>
                    <input type="hidden" name="productId" value="<%=rows[0].id%>">
                </form>
            </main>
            <%- include('../includesEjs/end.ejs') %>