<%- include('../includesEjs/head.ejs') %>
    </head>

    <body>
        <%- include('../includesEjs/navigation.ejs') %>
            <main class="centered">
                <h1>
                    <%=rows.title%>
                </h1>
                <hr>
                <div> <img src="<%=rows.ImageUrl%>" alt=" <%=rows.title%>" height="300" width="400"></div>
                <h2>
                    $<%=rows.price%>
                </h2>
                <p>
                    <%=rows.desc%>
                </p>
                <form action="/cart" method="post">
                    <button class="btn" type="submit">Add To Cart</button>
                    <input type="hidden" name="productId" value="<%=rows._id%>">
                </form>
            </main>
            <%- include('../includesEjs/end.ejs') %>