<%- include('../includesEjs/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <%- include('../includesEjs/navigation.ejs') %>

            <main>
                <% if (hasProducts) { %>
                    <div class="grid">
                        <% for (prod in rows) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= rows[prod].title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= rows[prod].ImageUrl %>" alt="<%= rows[prod].title %>" width="400"
                                        height="300">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">$<%= rows[prod].price %>
                                    </h2>
                                    <p class="product__description">
                                        <%= rows[prod].desc %>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <a href="/products/<%=rows[prod]._id%>" class="btn">Details</a>
                                    <% if(isAuthenticated) { %>
                                        <form action="/cart" method="post">
                                            <button class="btn" type="submit">Add To Cart</button>
                                            <input type="hidden" name="productId" value="<%=rows[prod]._id%>">
                                        </form>
                                        <% } %>
                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('../includesEjs/end.ejs') %>